<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">FAQ</div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="subImgBlock">
            <img src="images/sub_header.png" style="max-width: 380px; width: 100%;" />
        </div>
    </div>
    <h2 class="myHeader"><span>FAQ</span></h2>
    <div style="padding:20px">
        <h2>Letsatsi Lifestyle</h2>
        <h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq1');">What Is Letsatsi Lifestyle?</a></h4>
	<div id="llfaq1" style="display: none;">
            <ul>
                <li>Letsatsi Lifestyle is a lifestyle programme powered by Mahala. The programme is aimed at rewarding you for being a loyal Letsatsi Finance and Loan (Pty) Ltd (Letsatsi Finance) client and forming good credit behaviour.</li>
                <li>It will also help you accumulate points which you can use to spoil yourself at a number of great retailers and suppliers.</li>
                <li>All members will be able to earn loyalty points for every successful loan repayment.</li>
                <li>The loyalty points can be used for the following - Point partners where you can redeem points and discount partners where you can enjoy up to 50% discounts within the Mahala partner network.</li>
            </ul>
	</div>
	<h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq2');">How do I apply to Letsatsi Lifestyle?</a></h4>
	<div id="llfaq2" style="display: none;">
            <ul>
                <li>Visit any of Our Letsatsi branches nationwide.</li>
                <li>Please visit www.letsatsilifestyle.co.za to find out where your closest branch is.</li>
                <li>You can email lifestyle@letsatsifinance.co.za for any application queries.</li>
            </ul>
	</div>
	<h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq3');">How does Letsatsi Lifestyle work?</a></h4>
	<div id="llfaq3" style="display: none;">
            <ul>
                <li>Letsatsi Lifestyle comprises of 2 packages.</li>
                <li>Gold members and Diamond members.<br><img src="images/memberShipInfo.png" alt="Member Info" width="100%"></li>
                <li>In order to apply for the Gold status membership you will need to have an active loan at Letsatsi Finance and be a loyal Letsatsi Finance client.</li>
            </ul>
	</div>
        <h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq4');">What if I do not have an active loan?</a></h4>
	<div id="llfaq4" style="display: none;">
            <ul>
                <li>You can join Letsatsi Lifestyle as a Diamond status member at R120.00 (one hundred and twenty rand) per month.</li>
                <li>The membership of a Gold status member who does not have an active loan with Letsatsi Finance for more than 6 months, will be dormant.</li>
            </ul>
	</div>
        <h2>All About Points</h2>
        <h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq5');">How do I accumulate points?</a></h4>
	<div id="llfaq5" style="display: none;">
            <ul>
                <li>Points are accumulated through every successful loan repayment.</li>
                <li>Diamond members will earn additional points per month.</li>
                <li>Shop at selected Mahala partners and accumulate points on purchases.</li>
                <li>Points will be calculated on a monthly basis and reflect 8 business days after purchases to reflect on your membership points balance.</li>
            </ul>
	</div>
        <h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq6');">How many points do I earn per transaction?</a></h4>
	<div id="llfaq6" style="display: none;">
            <ul>
                <li>You will earn 1% in points for every successful loan repayment at Letsatsi Finance.</li>
                <li>10 points equals R1.00 to redeem.</li>
                <li>All points earned are dependent on each retailer or supplier. If you require more information on a particular retailer or supplier please contact Mahala - Letsatsi Lifestyle Enquiries on 086 00 22 173 or email <a href="mailto:lifestyle@letsatsifinance.co.za">lifestyle@letsatsifinance.co.za</a>.</li>
            </ul>
	</div>
        <h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq7');">Where can I use my card, to earn points or receive discounts or use the coupons?</a></h4>
	<div id="llfaq7" style="display: none;">
            <ul>
                <li>Please see the below list of some of the points and discount partners:<br><img src="images/partnerlist.png" alt="Member Info" width="100%"></li>
            </ul>
	</div>
        <h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq8');">How do I check my points balance?</a></h4>
	<div id="llfaq8" style="display: none;">
            <ul>
                <li>Contact the Call Centre: 086 00 22 173</li>
                <li>Go to the Letsatsi Lifestyle App or type http://www.letsatsilifestyle.co.za  on your phone’s web browser, login to the Member Area, click on “YOUR BALANCE”.</li>
                <li>USSD Platform (*120*973#): Select no. 1 “Check my Points”.</li>
                <li>Go to a Mahala Points Partners, most of the Retailers can check your points on their POS Device.</li>
            </ul>
	</div>
        <h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq9');">How do I access the Letsatsi Mobile Platforms?</a></h4>
	<div id="llfaq9" style="display: none;">
            <img src="images/accessInfo.png" alt="" width="100%">
	</div>
        <h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq10');">Do my points expire?</a></h4>
	<div id="llfaq10" style="display: none;">
            <ul>
                <li>Your points do not expire as long as you are an active member.</li>
            </ul>
	</div>
        <h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq11');">If I redeem my points for airtime or a movie voucher, when does the voucher expire?</a></h4>
	<div id="llfaq11" style="display: none;">
            <ul>
                <li>The airtime voucher does not expire.</li>
                <li>The movie voucher is valid for 12 months.</li>
            </ul>
	</div>
        <h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq12');">Are my points transferable or exchangeable for cash?</a></h4>
	<div id="llfaq12" style="display: none;">
            <ul>
                <li>All membership points accrued have no value outside of the LL Programme.</li>
                <li>These points are not transferable for cash.</li>
            </ul>
	</div>
        <h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq13');">I left my card at home, am I able to claim for my points?</a></h4>
	<div id="llfaq13" style="display: none;">
            <ul>
                <li>Unfortunately, no card, no points. We can't award points afterwards, so in order to earn your points, always swipe Letsatsi Lifestyle card at the Mahala partners.</li>
                <li>If the retailer uses a POS system with a scanner and not a card reader, you can use your Digital card on the App or through your Internet browser: http://www.letsatsilifestyle.co.za.</li>
            </ul>
	</div>
        <h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq14');">I am unable to redeem the points on my card?</a></h4>
	<div id="llfaq14" style="display: none;">
            <ul>
                <li>Contact Mahala - Letsatsi Lifestyle Enquiries on 086 00 22 173.</li>
            </ul>
	</div>
        <h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq15');">What can I redeem my points for?</a></h4>
	<div id="llfaq15" style="display: none;">
            <p>As a registered member, you have 4 options available to you when redeeming your points.  You can use any method that suits your lifestyle best.</p>
            <ul>
                <li>Contact Mahala - Letsatsi Lifestyle Enquiries on 086 00 22 173. You can redeem you points for selected items and a friendly Call Centre agent will guide you through the process.</li>
                <li>Go to the Letsatsi Lifestyle App or type http://www.letsatsilifestyle.co.za on your phone’s web browser, login to the Member Area, click on Redemptions and choose your redemption of choice:
                    <ol type="i">
                        <li>Airtime – real time</li>
                        <li>Grocery vouchers – within 24 hours</li>
                        <li>Movie tickets – within 24 hours</li>
                    </ol>
                </li>
                <li>You can access the USSD Platform (*120*973#) and request a Redemption, a friendly agent will call you back and guide you through the redemption process.</li>
                <li>Go to Mahala Points Partners and remember to present your card at the cashier.  The cashier will provide you with your points balance and an opportunity to redeem your points to the monetary value of your points balance.</li>
            </ul>
	</div>
        <h2>Membership</h2>
        <h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq16');">When will my membership be activated?</a></h4>
	<div id="llfaq16" style="display: none;">
            <ul>
                <li>Your membership will be activated with 8 (eight) working days of Mahala’s receipt of Your application, should Your application be successfully processed.</li>
                <li>Diamond status benefits will be activated on receipt of payment of the first successful monthly membership fee of R120.00(one hundred and twenty rand) paid by the member. You can start swiping your card for point’s accrual from DAY 1 but will only be able to redeem as soon as the first Membership fee was received.</li>
            </ul>
	</div>
        <h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq17');">How long is my membership valid?</a></h4>
	<div id="llfaq17" style="display: none;">
            <ul>
                <li>Gold status membership is valid when the member has an active loan with Letsatsi Finance and Loan (Pty) Ltd.</li>
                <li>If a Gold status member does not have an active loan for more than 6 months, there membership will become dormant. </li>
                <li>When you take out a new loan thereafter, your membership will be reactivated. </li>
                <li>You will continue to use the same loyalty card as this is linked to you.</li>
                <li>Diamond status membership will be valid upon successful payments of the R120.00 monthly membership fee.</li>
            </ul>
	</div>
        <h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq18');">What happens when I miss a payment?</a></h4>
	<div id="llfaq18" style="display: none;">
            <ul>
                <li>If You as a Diamond status member have not paid Your monthly Membership fees for 2 (two) consecutive months, or should the second attempt to debit the membership fee by debit order not be successful, Your membership will automatically be suspended. You will still be able to accrue points, however You will not be able to use any points until your membership has been re-activated.</li>
            </ul>
	</div>
        <h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq19');">My card has been lost or stolen how do I receive a new one?</a></h4>
	<div id="llfaq19" style="display: none;">
            <ul>
                <li>Contact Mahala - Letsatsi Lifestyle Enquiries on 086 00 22 173 or email lifestyle@letsatsifinance.co.za.</li>
            </ul>
	</div>
        <h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq20');">What if I can’t remember my login details?</a></h4>
	<div id="llfaq20" style="display: none;">
            <ul>
                <li>Your loyalty account number is the number printed on your membership card.</li>
                <li>The card number is your password as well.</li>
                <li>Should you experience login problems, contact Mahala - Letsatsi Lifestyle Enquiries on 086 00 22 173 or email lifestyle@letsatsifinance.co.za.</li>
            </ul>
	</div>
        <h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq21');">How do I change my password?</a></h4>
	<div id="llfaq21" style="display: none;">
            <ul>
                <li>Contact Mahala - Letsatsi Lifestyle Enquiries on 086 00 22 173 or email <a href="mailto:lifestyle@letsatsifinance.co.za">lifestyle@letsatsifinance.co.za.</a></li>
            </ul>
	</div>
        <h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq22');">How do I update my personal details?</a></h4>
	<div id="llfaq22" style="display: none;">
            <ul>
                <li>Contact Mahala - Letsatsi Lifestyle Enquiries on 086 00 22 173 or email <a href="mailto:lifestyle@letsatsifinance.co.za">lifestyle@letsatsifinance.co.za.</a></li>
            </ul>
	</div>
        <h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq23');">How do I change my banking details?</a></h4>
	<div id="llfaq23" style="display: none;">
            <ul>
                <li>Contact Mahala - Letsatsi Lifestyle Enquiries on 086 00 22 173</li>
            </ul>
	</div>
        <h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq24');">When I login in it says my account is deactivated?</a></h4>
	<div id="llfaq24" style="display: none;">
            <ul>
                <li>Contact Mahala - Letsatsi Lifestyle Enquiries on 086 00 22 173</li>
            </ul>
	</div>
        <h2>Diamond Members Benefits</h2>
        <h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq25');">How do I book my holiday with Flexibreaks?</a></h4>
	<div id="llfaq25" style="display: none;">
            <ul>
                <li>Contact Flexibreaks</li>
                <li><strong>Tel:</strong> 011 974 2626</li>
                <li><strong>Web:</strong> <a href="http://www.flexibreaks.co.za" target="_blank">www.flexibreaks.co.za</a></li>
            </ul>
	</div>
        <h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq26');">How do I use the Credit Know benefit?</a></h4>
	<div id="llfaq26" style="display: none;">
            <p>This membership benefit is provided by Letsatsi to Diamond status members. To utilize this benefit please send an email to <a href="mailto:Lifestyle@letsatsifinance.co.za">Lifestyle@letsatsifinance.co.za</a> or contact Your nearest Letsatsi branch www.letsatsilifestyle.co.za.</p>
            <ul>
                <li>You can request Your credit report every 4 (four) months (being 3 (three) times per year) Mondays to Fridays from 8:00am to 5:00pm and on Saturdays from 8:00am to 12:00pm. Credit Know is not available on Sundays and public holidays.</li>
                <li>A copy of Your personal credit report can be collected at Your nearest Letsatsi branch or this can be emailed to You once you provide an email address and lodge a request for Your personal credit report.</li>
                <li>A Letsatsi consultant will have to verify Your personal information prior to processing Your request, and You will need to present a copy of your ID and Letsatsi lifestyle membership card on collection of Your credit report.</li>
                <li>If there are any adverse listing alerts on Your credit record, these will be sms’d to you in the first week of each month. Adverse listings refer to, inter alia, Judgments taken against You, reports of late or non-payments made by You, or collection notice listings (debt collection or administration orders). If You would like more information regarding Your sms alerts, please send your queries to lifestyle@letsatsifinance.co.za; please provide your full name, ID number, contact number and reason with such request.</li>
                <li>
                    You are entitled to set up a meeting with a Letsatsi Consultant in which:
                    <ol type="I">
                        <li>The meeting will be up to a maximum of 30 (thirty) minutes per meeting.</li>
                        <li>The meetings are limited to a maximum of 3 (three) meetings per year.</li>
                        <li>The Letsatsi consultant will guide You through Your credit report, explaining what each section means, as well as assist You in putting together a basic budget.</li>
                        <li>Meetings can only be arranged in the middle two weeks of the month, i.e. 8th to the 22nd of each month.</li>
                        <li>You can arrange a mutually suitable meeting time with your Letsatsi Branch consultant in a branch of Letsatsi.</li>
                    </ol>
                </li>
            </ul>
            <p>Please view the terms and conditions on <a href="http://www.letsatsilifestyle.co.za" target="_blank">www.letsatsilifestyle.co.za</a></p>
	</div>
        <h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq27');">Who is considered a partner and child for cover under the R10 000 Funeral Benefit?</a></h4>
	<div id="llfaq27" style="display: none;">
            <ul>
                <li>A Partner is a person married to the Diamond member by Civil Law, Common Law, Tribal or Religious Custom and includes same sex partners.</li>
                <li>A Child includes all unmarried biological Children of the Diamond member or a Child of the Diamond member through guardianship in terms of Civil, Common or Customary law. Unmarried mentally disabled, permanently and totally disabled Children are included until their 25th birthday or until the Diamond member’s membership is deactivated, whichever event occurs first</li>
            </ul>
        </div>
        <h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq28');">Is there a waiting period on the R10 000 Funeral Benefit?</a></h4>
	<div id="llfaq28" style="display: none;">
            <ul>
                <li>A 6 (six) month waiting period applies from date of Diamond membership activation in respect of death due to natural causes for all Insured People disclosed at inception of the Membership.</li>
                <li>The waiting period for any of Your immediate family members added thereafter, will start the 6 (six) waiting period from the first of the month following Your notification to Mahala.</li>
                <li>No waiting period applies in respect of death due to accidental causes.</li>
            </ul>
        </div>
        <h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq29');">How do I claim for my R10 000 Funeral Benefit?</a></h4>
	<div id="llfaq29" style="display: none;">
            <p>No claims will be considered if reported more than 6 (six) months after the date of death.</p>
            <ul>
                <li>Claims Procedures:  The Diamond member or the deceased’s family members may contact Hollard Life on 0860-101- 003 for immediate 24 hour claims assistance.</li>
                <li>The beneficiary is advised to go directly to an undertaker on death of the deceased Diamond member, and ask the undertaker to contact Hollard Life directly.</li>
                <li>On valid claims Hollard Life can pay all expenses up to the cover level directly to the Undertaker once a detailed invoice and written authorisation from the beneficiary have been received.  No cash deposit is needed.  Alternatively a cash benefit may be requested.</li>
                <li>
                    The following documentation is required and must be forwarded to Hollard Life for claims processing:
                    <ol type="i">
                        <li>A fully completed claim form;</li>
                        <li>A certified copy of the identity document of the claimant/beneficiary;</li>
                        <li>A certified copy of the identity document and death certificate of the deceased Insured Person and a copy of the form BI1663/DHA1663;</li>
                        <li>In the case of the Partner, a certified copy of the marriage certificate or certified proof of the common law or traditional marriage;</li>
                        <li>In the case of a biological child, a certified copy of the Member’s or Partner’s identity document, or proof of relationship, and the child’s birth certificate;</li>
                        <li>In case of dependent child aged 21 (twenty one) years up to but not including 25 (twenty five) years, and enrolled as a full-time student at a registered educational institution, certified proof of schooling;</li>
                        <li>In the case of a disabled child, proof of disability;</li>
                        <li>A “police report” in the event of death by unnatural causes;</li>
                        <li>All copies must be certified by a commissioner of oaths.</li>
                    </ol>
                </li>
            </ul>
        </div>
        <h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq30');">How do I change my Beneficiary and confirm my children and partner?</a></h4>
	<div id="llfaq30" style="display: none;">
            <ul>
                <li>Contact Mahala - Letsatsi Lifestyle Enquiries on 086 00 22 173.</li>
            </ul>
        </div>
        <h2>General</h2>
        <h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq31');">Terms and Conditions</a></h4>
	<div id="llfaq31" style="display: none;">
            <a href="#" onclick="myNavigator.pushPage('views/TandC.html', { animation : 'slide' } )">View Terms and Conditions</a>
        </div>
        <h4 class="formShadow"><a style="color: #f79e12; text-decoration: none;" href="#" onclick="toggle_visibility('llfaq32');">Contact Us</a></h4>
	<div id="llfaq32" style="display: none;">
            <ul>
                <li>Lifestyle Enquiries</li>
                <li>Tel: 086 00 22 173</li>
                <li>Web: www.letsatsilifestyle.co.za</li>
                <li>E-mail: lifestyle@letsatsifinance.co.za</li>
            </ul>
        </div>
    </div>
</ons-page>
